@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+KR:wght@100..900&display=swap');


body{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}
.innerBox{
  max-width: 1920px;
}
.header-text{
  color: #444444;
}

.nav_active{
  color: #88B929;
  transition: transform 0.3s;
  transform: scale(1.07);
}
.header-text a{
  position: relative;
}

.header-text a:hover {
  transform: scale(1.07)
}

.nav_leaf::after{
  content: "";
  background: url("https://techworld.speedgabia.com/seminar/ESG/img/leaf.png");
  width: 20px;
  height: 14px;
  position: absolute;
  top: -3px;
  right: -5px;
}
.ttable{
  max-width: 800px;
  margin: auto;
}
.tableStyle{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 
}
.survey{

  border-radius: 10px;
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); */
  z-index: 10;
}
.survey > iframe {
  padding-top: 40px;
}
.box{
  position: relative;
}
.bg-image{
  position: absolute;
  left: 0;
  top: -150px;
  height: 463px;
  max-width: 1920px;
  z-index: 1;
}
.googleform{
  position: relative;
  z-index: 10;
}
.App{
  max-width: 1920px;
  margin: auto;
}




